@import "./modulos/variables";
@import "./modulos/condicionales.scss";
@import "./modulos/bucles";


nav {
    font-family: JUST;
}

footer {
    font-family: JUST;
    font-size: 1.2rem;
}

h3 {
    font-family: BEBAS;
}
h5 {
    font-family: JUST;
    
}