@font-face {
    font-family: JUST;
    src: url(../assets/font/static/Jost-Black.ttf);
} 

$fontjust: JUST;

@font-face {
    font-family: BEBAS;
    src: url(../assets/font/BebasNeue-Regular.ttf);
} 

$fontbebas:BEBAS; 

$fontsizenavd: 2.2rem;
$fontsizenavm: 1rem;
$vista: mobile;


